/* estilização geral */
:root {
    /* fonts */
        --cor--primaria: #A60402;
        --cor--secundaria: #DFC4A2;
        --cor--input:#F0E4D4;
        --cor--placeholder:#A9A197;
        --cor--bg:#F7F1E8;
        --cor--hover--botao: #970402;
        --cor--press--botao: #760301;
        --cor--confirmacao: #008124;
         --cor--erro: #8c2e0e;
        --cor--info: #0077a9;
        --cor--aviso: #e8d000;
        --cor--preto:black;
         --cor--branco:white;
        

      /* 
       font-family: "Urbanist", sans-serif;
       font-family: "Playfair Display", serif;
      
      */

  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}





  body{
    background-image: url(../../Assets/img/bg-acesso.svg);
    background-size: cover;
    background-color: #760301;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

.main{
    padding: 0px 21px;
}



/* div da logo */
 .groupLogin{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
 }


 /* logo */
  .groupLogin img{
    width: 100px;
  }
 
  /* frase da logo */
  .groupLogin h1{
    font-family:"Playfair Display", serif;
    font-weight: bold;
    color: var(--cor--input);
    font-size: 30px;
  }

 
/* seta para voltar */
.fa-caret-left{
    position: absolute;
    top: -22px;
    left: 0;
    font-size: 34px;
    color:#F3F4F5; /*verificar*/
    cursor: pointer;

}

/* form */
.areaLogin{
margin-top: 27px;
}


.areaLogin .form{
  background-color: #D9B88F; /*verificar*/
  padding: 35px 21px 27px;
  border-radius: 30px;
  
}

.inputDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
 
}

.inputDiv label{
 color: #400207; /*verificar*/
 font-family: "Urbanist", sans-serif;
 font-size: 16px;
 margin-bottom: 7px;
}

.inputDiv input {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}



.inputDiv input{
  padding-left: 10px;
  border: none;
  background-color: var(--cor--input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  width: 100%;
  height: 45px;
  border-radius: 12px;
}

.inputDiv input::placeholder{
  color: var(--cor--placeholder);
}

.inputDiv input:focus{
  border: rgb(115, 104, 91) 2px solid;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--cor--input) inset !important;
  color: #fff !important;
}

/* botão para entrar */
 .btnDivLogin{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px 32px;
 text-align: center;
 }


/* botão ativo */
 .btnDivLogin .btnLogin.active{
  background-color: #A60402;
  border: none;
  color: var(--cor--input); /*verificar*/
  padding: 15px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
 }


 .btnDivLogin .btnLogin:hover{
  background-color: #970402; /*verificar*/
 }


 .btnDivLogin .btnLogin:focus{
  background-color: #760301; /*verificar*/
 }


 /* botão desativo */

 .btnDivLogin .btnLogin{
  background-color: #edcdcc; /*verificar*/
  border: none;
  color: var(--cor--input); /*verificar*/
  padding: 15px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
 }

 .btnLogin:disabled:hover {
  background-color: #edcdcc;
}


.btnDivLogin:disabled{
  cursor: not-allowed;
 }




 /* logins alternativos */

 .loginExtra{
  margin-top: 21px; /* para não ficar ruim de ler por conta da imagem*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

 }


 .loginExtra p {
  font-size: 16px;
  margin-bottom: 12px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  color: var(--cor--input); /*verificar*/
 }

 .btnLoginDiv{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 37px;
 }


 .btnLoginDiv a{
  border: 1px solid #F3F4F5; /*verificar*/ 
  background-color: transparent;
  color: #F3F4F5; /*verificar*/
  padding: 15px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
 }

 .btnLoginDiv a:hover{
  border: 1px solid #DBDCDF; /*verificar*/ 
  color: #DBDCDF; /*verificar*/
 }

 .btnLoginDiv a:focus{
  border: 1px solid #DBDCDF; /*verificar*/ 
  color: #DBDCDF; /*verificar*/
 }

 .btnLoginDiv i{
  margin-right: 8px;
  font-size: 21px; /*verificar - figma  */
}

