/* header */

/*Inicio de Header*/
header{
    background-color: var(--cor--primaria);
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 25px 25px  !important;
}


header .container {
    width: 90%;
    flex-direction: column;
}

header .container-superior{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: .3em;
    color: var(--cor--bg);
    font-family: var(--fonte);
}

header .container-esquerdo{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

header .container-esquerdo img{
    width: 30px;
}

header .container-esquerdo span{
    font-family: var(--fonte--logo);
    font-weight: bold;
    margin-left: .5em;
}

/* seta */
.fa-caret-left{
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 34px;
    color:#F3F4F5; /*verificar*/
    cursor: pointer;

}



/*Fim da Header*/
/*Fim de Configurações gerais*/



/* alterações */

/* Mutavel - receberá alteração*/
/*Mudara a depender da pagina que estará, neste caso é a home*/
/* Apenas mudar o nome da classe e adicionar ao css desejado*/


header{
    border-radius: 0;
}


header .container-inferior{
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: var(--fonte);
    color: var(--cor--branco);
    font-size: 1.5em;
    padding-bottom: 18px;
}
/* cards restaurantes */
.categoria-child {
    width: 178px;
    position: relative;
    border-radius: 0px 12px 12px 0px;
    height: 79px;
    object-fit: cover;
    }

.categoria-item {
    width: 60px;
    position: relative;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    margin-left: -27px;
    background-color: var(--cor--bg);
    border: 4px solid var(--cor--bg); 
    }

.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    }

.restaurante-nome {
    width: 169px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    flex-shrink: 0;
    z-index: 1;
    margin-bottom: 15px;
    }

.status {
    width: auto;
    position: absolute;
    margin: 0 !important;
    top: 53px;
    left: 261px;
    font-size: 12px;
    display: inline-block;
    z-index: 2;
}
.aberto {
    color: #008124;
}
.fechado {
    color: #8c2e0e;
}

.categoria-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    }

.categoria-parent {
    position: relative;
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Urbanist;
    margin-top: 30px;
    }

a {
    text-decoration: none;
    color: black;
}