/* Mutavel - receberá alteração*/
/*Mudara a depender da pagina que estará, neste caso é a home*/
/* Apenas mudar o nome da classe e adicionar ao css desejado*/

/*Inicio da navegação*/
nav .mapa .barra {
    background-color: var(--cor--primaria);
}

nav .mapa{
    color: var(--cor-preto);
}
/*Fim da navegação*/

header{
    border-radius: 0;
}
header .container-inferior{
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: var(--fonte);
    color: var(--cor--branco);
    font-size: 1.5em;
}