@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--cor--primaria: #A60402;
--cor--secundaria: #DFC4A2;
--cor--input:#F0E4D4;
--cor--placeholder:#A9A197;
--cor--bg:#F7F1E8;
--cor--hover--botao: #970402;
--cor--press--botao: #760301;
--cor--confirmacao: #008124;
--cor--erro: #8c2e0e;
--cor--info: #0077a9;
--cor--aviso: ##e8d000;
--cor-preto:black;
--cor--branco:white;
--fonte:"Urbanist", sans-serif;
--fonte--logo:"Playfair Display", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-size: cover;
    background-color: var(--cor--primaria);
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

.main{
    padding: 0px 32px;
}

/* splash */
#splash-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A60402;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

#splash-screen img {
    width: 130px;
    height: auto;
}

#splash-screen .bottom-text {
    position: absolute;
    bottom: 40px;
    width: 108px;
    font-size: 14px;
    font-family: Urbanist;
    color: #f2e6d8;
    text-align: center;
    display: inline-block;
}

#splash-screen .bottom-text span {
    font-size: 22px;
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #f2e6d8;
    text-align: center;
    display: inline-block;
}

.main {
    display: none; /* Inicialmente ocultar o conteúdo principal */
}

#main-content {
    position: relative;
    display: block; /* Tornar visível o conteúdo principal */
    text-align: center;
}


/* div da logo */
 .groupInicio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 33px;
 }


 /* logo */
  .groupInicio img{
    width: 100px;
  }
 
  /* frase da logo */
  .groupInicio h1{
    font-family:"Playfair Display", serif;
    font-weight: bold;
    color: var(--cor--input);
    font-size: 30px;
  }

/* carrosel de frases */

.frase {
    position: absolute;
    width: 260px;
    top: 0%;
    left: 10%;
    display: none;
    font-size: 18px;
    font-family: var(--fonte);
    }

.frase.active {
    display: block;
}

.frame-item.active {
    background-color: #400207;
}

.frame-item {
    width: 4px;
    position: relative;
    border-radius: 50%;
    background-color: #f2e6d8;
    height: 4px;
    cursor: pointer;
    }

.ellipse-parent {
    position: absolute;
    height: 6.15%;
    width: 18.78%;
    top: 93.85%;
    right: 40.85%;
    bottom: 0%;
    left: 40.38%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    }
.carrosel {
    width: 100%;
    position: relative;
    height: 65px;
    text-align: center;
    font-size: 18px;
    color: #f2e6d8;
    font-family: Urbanist;
    overflow: hidden;
    }


/* botoes cadastro */
.secundarios{
    justify-content: center;
}

.secundarios .ativo {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 12px;
    font-family: var(--fonte);
    color: var(--cor--primaria);
    font-weight: 500;
    margin-bottom: 30px;
    margin: 30px 0;
}

.secundarios a{
    text-decoration: none;
}
.secundarios span {
    padding-left: .5em;
}


.secundarios .ativo {
    background-color: #E5D0B5;
}
.secundarios .ativo:hover{
    background-color: #DFC4A2;
}

.secundarios .ativo:focus {
    background-color: #E5D0B5;
    border: #DFC4A2 2px solid;
}

.secundarios .ativo:disabled:hover {
    background-color: rgba(229, 208, 181, 0.2);
    color: rgba(166, 4, 2, 0.3);
}

.secundarios .ativo:disabled {
    cursor: not-allowed;
}

/* logins alternativos */

.btnInicioDiv{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 37px;
   }
  
  
   .btnInicioDiv a{
    border: 1px solid #F3F4F5; /*verificar*/ 
    background-color: transparent;
    color: #F3F4F5; /*verificar*/
    padding: 15px 35px;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    text-decoration: none;
    
   }
  
   .btnInicioDiv a:hover{
    border: 1px solid #DBDCDF; /*verificar*/ 
    color: #DBDCDF; /*verificar*/
   }
  
   .btnInicioDiv a:focus{
    border: 1px solid #DBDCDF; /*verificar*/ 
    color: #DBDCDF; /*verificar*/
   }
  
   .btnInicioDiv i{
    margin-right: 8px;
    font-size: 21px; /*verificar - figma  */
  }
  
  .btnInicioDiv{
    margin-top: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
   .btnInicioDiv p {
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "Urbanist", sans-serif;
    color: var(--cor--input); /*verificar*/
   }
  