/* header */

.rectangle-div {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(166, 166, 166, 0.01);
    border-radius: 0px 0px 20px 20px;
    background-color:var(--cor--primaria);
    height: 126px;
    }

.fa-caret-left {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    cursor: pointer;
    color: white;
    align-items: center;
    margin-left:8px;
    font-size: 34px;
    }

.div-logo{
    display: flex;
    align-items: center;
}

.logo-horizontal {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    height: 50px;
    }

.logo{
    font-family: var(--fonte--logo);
    font-weight: bold;
    margin-left: .5em;
    color: var(--cor--input)
    }

.seta-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
    padding-top: 37px;
    padding-left: 8px;
    }

.titulo-restaurante {
    width: 87px;
    position: relative;
    font-size: 22px;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 600;
    font-family: Urbanist;
    color: var(--cor--bg);
    margin-left: 152px; 
    margin-top: 5px;
    }

/* cards restaurantes */
.categoria-child {
    width: 178px;
    position: relative;
    border-radius: 0px 12px 12px 0px;
    height: 79px;
    object-fit: cover;
    }

.categoria-item {
    width: 100%;
    position: relative;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    margin-left: -27px;
    background-color: var(--cor--bg);
    border: 4px solid var(--cor--bg); 
    }

.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    }

.restaurante-nome {
    width: 169px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    flex-shrink: 0;
    z-index: 1;
    }

.status {
    width: auto;
    position: absolute;
    margin: 0 !important;
    top: 53px;
    left: 261px;
    font-size: 10px;
    display: inline-block;
    z-index: 2;
}
.aberto {
    color: #008124;
}
.fechado {
    color: #8c2e0e;
}

.categoria-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    }

.categoria-parent {
    position: relative;
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Urbanist;
    margin-top: 30px;
    }