body{
    background-image: url(../../Assets/img/bg\ cad2.svg);
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    padding-bottom: 1em;
    color: #400207;
    font-family: "Urbanist", sans-serif;
}
form .grupo{
    display: flex;
    justify-content: space-between;
}
form .input-pequeno{
    width: 160px;
}
form .input-pequeno .ativo{
    width: 150px;
    margin-top: .7em;
    margin-bottom: 1.5em;
}
form #dat-nasc, #pais, #estado{
    width: 130px;
}
form #cidade{
    width: 140px;
}
form #cep{
    width: 160px;
}
form #pais{
    margin-left: 20px;
}
form #estado{
    margin-left: 20px;
}

label{
    color: #400207;
 font-family: "Urbanist", sans-serif;
 font-weight: 600;
 margin-left: 5px;
}

form .primarios .ativo:hover{
    background-color: var(--cor--hover--botao);
}
  
form .input-pequeno .ativo:hover{
    background-color: #DFC4A2;
    border: none;
    box-shadow: var(--cor--placeholder) 0px 2px 5px 0px ;
}
form .input-pequeno .ativo{
    padding-left: 1em;
}
.logo-fim{
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 1.2em;
}

.logo-fim span{
    font-family: var(--fonte--logo);
    font-size: .9em;
}

.logo-fim img{
    width: 36px;
    margin-right: .5em;
}
.areaLogin{
    margin-top: 35px;
}


