body{
    background-image: url(../../Assets/img/bg\ cad2.svg);
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 100vh;
}
.areaLogin .form{
    padding-bottom: 0;
  }

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    padding-bottom: 1em;
    color: #400207;
    font-family: "Urbanist", sans-serif;
}
form .grupo{
    display: flex;
    justify-content: space-between;
}
form .input-pequeno{
    width: 152px;
}
form .input-pequeno .ativo{
    width: 142px;
    margin-top: .7em;
    margin-bottom: 1.5em;
}
form #dat-nasc, #pais, #estado{
    width: 122px;
}
form #cidade{
    width: 132px;
}
form #cep{
    width: 152px;
}
form #pais{
    margin-left: 20px;
}
form #estado{
    margin-left: 20px;
}

label{
    color: #400207;
 font-family: "Urbanist", sans-serif;
 font-weight: 600;
 margin-left: 5px;
}

form .primarios .ativo:hover{
    background-color: var(--cor--hover--botao);
}

form .input-pequeno .ativo:hover{
    border:rgb(115, 104, 91) 2px solid;
}
form .input-pequeno .ativo{
    padding-left: 1em;
}
.logo-fim{
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 2em;
}

.logo-fim span{
    font-family: var(--fonte--logo);
    font-size: .9em;
}

.logo-fim img{
    width: 36px;
    margin-right: .5em;
}
.areaLogin{
    margin-top: 35px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--cor--input) inset !important;
    color: #fff !important;
  }
