:root {
    --cor--primaria: #A60402;
    --cor--secundaria: #DFC4A2;
    --cor--input:#F0E4D4;
    --cor--placeholder:#A9A197;
    --cor--bg:#F7F1E8;
    --cor--hover--botao: #970402;
    --cor--press--botao: #760301;
    --cor--confirmacao: #008124;
    --cor--erro: #8c2e0e;
    --cor--info: #0077a9;
    --cor--aviso: ##e8d000;
    --cor-preto:black;
    --cor--branco:white;
}

input {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--cor--secundaria) inset !important;
  color: #000000 !important;
}




*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}





#map { 
    width:100%;
    height: 80vh;
    margin: -15px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

  
  }


  .mapa{
    position: relative;
  }



  .leaflet-control-container{
    display: none;
  }


 .searchContainer{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    width: 90%;
 } 
 
 
 .searchContainer input{
    position: relative;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: var(--cor--input);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
 }

.searchContainer input:hover{
    background-color: var(--cor--secundaria);
}

.searchContainer input::placeholder{
color: var(--cor--placeholder);
}

.searchContainer input:focus{
    border: 1px solid black;
}

 .fa-magnifying-glass{
   position: absolute;
   right: 20px;
   top: 12px;
   color: var(--cor--placeholder);  /*verificar*/
}

.imgDiv{

  text-align: center;
}

.imgMap{
 width: 200px;
 border-radius: 20px;
}