body{
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 100vh;
}
/* Header */
.rectangle-div {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(166, 166, 166, 0.01);
    border-radius: 0 0 25px 25px;
    background-color:var(--cor--primaria);
    height: 126px;
    }

.fa-caret-left {
    display:inline-block ;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    cursor: pointer;
    color: white;
    margin-top: 44px;
    margin-left:15px;
    font-size: 34px;
    }

.titulo-config {
    position: relative;
    font-size: 22px;
    letter-spacing: -0.24px;
    line-height: 20px;
    font-weight: 600;
    font-family: Urbanist;
    color: #f7f1e8;
    display: inline-block;
    top: 24%;
    left: 6%;
    }

.container-notificacoes{
    display: flex;
    margin-left: 1em;
    font-size: 22px;
    flex-direction: column;
    padding-top: 2em;
    font-weight: 600;
    font-family: var(--fonte);
}

.areaLogin{
    margin: 2em 1.3em 0 1.3em;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

form .grupo{
    display: flex;
    justify-content: space-between;
}
form .input-pequeno{
    width: 160px;
}
form .input-pequeno .erro{
    width: 145px;
    margin-top: .7em;
    margin-bottom: 1.5em;
}
form #nome, #sobrenome, #estado{
    width: 130px;
}
form #cep{
    width: 120px;
}


label{
 color: var(--cor-preto);
 font-family: "Urbanist", sans-serif;
 font-weight: 600;
 margin-left: 5px;
}

form .primarios .erro:hover{
    background-color: var(--cor--hover--botao);
}
  
form .input-pequeno .erro:hover{
    background-color: #DFC4A2;
    box-shadow: var(--cor--placeholder) 0px 2px 5px 0px ;
}
form .input-pequeno .erro{
    padding-left: 1em;
}

.primarios{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}