/* banner componente */
.component-banner-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    }
    .component-banner-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(39, 1, 4, 0.4);
    }
    .oficina-de-cozinha {
    position: absolute;
    width: 45.64%;
    top: 76.49%;
    left: 5.64%;
    letter-spacing: -0.24px;
    line-height: 18px;
    font-weight: 600;
    display: inline-block;
    }
    .component-banner {
    width: 100%;
    position: relative;
    height: 319px;
    text-align: left;
    font-size: 18px;
    color: #f4eadf;
    font-family: Urbanist;
    }
    
    /* filtro */

    .filtro {
        position: relative;
        line-height: 14px;
        }
        
    .filtro-parent {
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        background-color: #740301;
        height: 20px;
        width: 77px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin-top: 26px;
        margin-bottom: 37px;
        margin-left: 16px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        color: #f2e6d8;
        font-family: Urbanist;
        }
        
        /* trilha titulo */

        .trilhas-mais-visitadas {
            width: 174px;
            position: relative;
            font-size: 18px;
            letter-spacing: -0.24px;
            line-height: 30px;
            font-weight: 600;
            font-family: Urbanist;
            color: #270104;
            text-align: left;
            display: flex;
            align-items: center;
            height: 11.8px;
            margin-left: 16px;
            }

        /* trilha  */

        .parent-caldeirada {
            position: relative;
            height: 174px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 22px;
            margin-top: 10px;
            margin-left: 16px;
            margin-right: 16px;
            text-align: left;
            font-size: 16px;
            color: #270104;
            font-family: Urbanist;
            overflow-x: auto;
        }

        .parent-caldeirada::-webkit-scrollbar {
            display: none;
          }
        
        .trail-container {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            gap: 1px;
            cursor: pointer;
            text-align: center;
            color: #f6e6e6;
        }
        
        .item-container {
            width: 259px;
            position: relative;
            height: 142px;
        }
        
        .item-content {
            position: absolute;
            top: 1px;
            left: 0px;
            border-radius: 18px;
            width: 259px;
            height: 142px;
        }
        
        .trail-subtitle {
            width: 120px;
            position: absolute;
            margin: 0;
            top: 110px;
            left: 12px;
            font-weight: 600;
            display: inline-block;
            z-index: 1;
        }

        .like-parent {
            width: 59.7px;
            position: absolute;
            margin: 0 !important;
            top: 10px;
            left: 189px;
            height: 26.4px;
            z-index: 3;
            }

        .fa-heart {
            position: absolute;
            top: 0px;
            left: 0px;
            align-content: center;
            width: 26.7px;
            height: 26.4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            background-color: #5b0201;

            }
        .fa-arrow-right-from-bracket {
            position: absolute;
            top: 0px;
            left: 33.07px;
            align-content: center;
            width: 26.7px;
            height: 26.4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            background-color: #5b0201;
            }
        
        .see-more-text {
            width: 61px;
            position: absolute;
            margin: 0;
            top: 56px;
            left: 99px;
            letter-spacing: -0.24px;
            line-height: 30px;
            font-weight: 600;
            display: inline-block;
            z-index: 1;
        }

        /* outras trilhas */

        .outras-trilhas {
            width: 108px;
            position: relative;
            font-size: 18px;
            font-weight: 600;
            font-family: Urbanist;
            color: #270104;
            text-align: left;
            display: inline-block;
            margin-left: 16px;
            margin-top: 9px;
            margin-bottom: 16px;
            }

            .for-you-section {
                position: relative;
                height: 316px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 18px;
                text-align: center;
                font-size: 18px;
                color: #270104;
                font-family: Urbanist;
                margin-left:16px;
                margin-right:16px;
                overflow-x: auto;
            }
            .for-you-section::-webkit-scrollbar {
                display: none;
              }
            
            .item-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
            }
            
            .item-image {
                width: 140px;
                position: relative;
                border-radius: 12px;
                height: 190px;
                object-fit: cover;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            }
            
            .item-title {
                margin-top:12px;
                width: auto;
                position: relative;
                font-weight: 500;
                display: inline-block;
            }
            
            .see-more {
                width: 69px;
                position: absolute;
                margin: 0;
                top: 269px;
                left: 569px;
                letter-spacing: -0.24px;
                line-height: 30px;
                font-weight: 600;
                text-align: left;
                display: inline-block;
                z-index: 4;
            }