<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./botoes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Botões</title>
</head>
<body>
    <h2>Botões Primarios</h2>
    <div class="primarios">
        <div class="ativo-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="ativo"><span>Botão<span></div>
        <div class="hover-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="hover"><span>Botão<span></div>
        <div class="press-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="press"><span>Botão<span></div>
        <div class="focus-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="focus"><span>Botão<span></div>
        <div class="desativado-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="desativado"><span>Botão<span></div>
    </div>
    <h2>Botões Secundarios</h2>
    <div class="secundarios">
        <div class="ativo-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="ativo"><span>Botão<span></div>
        <div class="hover-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="hover"><span>Botão<span></div>
        <div class="press-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="press"><span>Botão<span></div>
        <div class="focus-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="focus"><span>Botão<span></div>
        <div class="desativado-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="desativado"><span>Botão<span></div>
    </div>
    <h2>Botões Terciarios</h2>
    <div class="terciarios">
        <div class="ativo-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="ativo"><span>Botão<span></div>
        <div class="hover-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="hover"><span>Botão<span></div>
        <div class="press-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="press"><span>Botão<span></div>
        <div class="focus-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="focus"><span>Botão<span></div>
        <div class="desativado-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="desativado"><span>Botão<span></div>
    </div>
    <h2>Botões link</h2>
    <div class="link">
        <div class="ativo-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="ativo"><span>Botão<span></div>
        <div class="hover-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="hover"><span>Botão<span></div>
        <div class="press-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="press"><span>Botão<span></div>
        <div class="focus-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="focus"><span>Botão<span></div>
        <div class="desativado-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="desativado"><span>Botão<span></div>
    </div>
    <h2>Botões Pill</h2>
    <div class="pill">
            <div class="ativo-icone"><i class="fa-solid fa-camera fa-2xl"></i></div>
            <div class="ativo">Ir</div>
            <div class="hover-icone"><i class="fa-solid fa-camera fa-2xl"></i></div>
            <div class="hover"><span>Botão<span></div>
            <div class="press-icone"><i class="fa-solid fa-camera fa-2xl"></i></div>
            <div class="press">Ir</div>
            <div class="focus-icone"><i class="fa-solid fa-camera fa-2xl"></i></div>
            <div class="focus">Ir</div>
            <div class="desativado-icone"><i class="fa-solid fa-camera fa-2xl"></i></div>
            <div class="desativado">Ir</div>
    </div>
    <h2>Botões Filtro</h2>
    <div class="filtro">
        <div class="ativo">Filtro</div>

        <div class="hover">Filtro</div>
        
        <div class="press">Filtro</div>
        
        <div class="focus">Filtro</div>
        
        <div class="desativado">Filtro</div>
    </div>
    <h2>Botões Inputs Grandes</h2>
    <div class="input-grande">
        <input class="ativo" type="text" placeholder="Digite o seu e-mail">
        <input class="hover" type="text" placeholder="Digite o seu e-mail">
        <input class="selecionado" type="text" placeholder="Digite o seu e-mail">
        <input class="sucesso" type="text" placeholder="Digite o seu e-mail">
        <input class="erro" type="text" placeholder="Digite o seu e-mail">
    </div>
    <h2>Botões Inputs Pequenos</h2>
    <div class="input-pequeno">
        <input class="ativo" type="text" placeholder="Digite o seu e-mail">
        <input class="hover" type="text" placeholder="Digite o seu e-mail">
        <input class="selecionado" type="text" placeholder="Digite o seu e-mail">
        <input class="sucesso" type="text" placeholder="Digite o seu e-mail">
        <input class="erro" type="text" placeholder="Digite o seu e-mail">
    </div>
    <h2>Botões Cinzas</h2>
    <div class="botoes-cinzas">
        <div class="ativo-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="ativo"><span>Botão<span></div>
        <div class="hover-icone"><i class="fa-solid fa-share-from-square"></i><span></span>Botão<span></div>
        <div class="hover"><span>Botão<span></div>
        <div class="press-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="press"><span>Botão<span></div>
        <div class="focus-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="focus"><span>Botão<span></div>
        <div class="desativado-icone"><i class="fa-solid fa-share-from-square"></i><span>Botão<span></div>
        <div class="desativado"><span>Botão<span></div>
    </div>
</body>
</html>