<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/Assets/components/geral-header-nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!--Inicio da Nav-->
    <nav>
        <a href="#"><div class="home"><div class="barra"></div><i class="fa-solid fa-house fa-2x"></i><span>Home</span></div></a>
        <a href="#"><div class="mapa"><div class="barra"></div><i class="fa-regular fa-map fa-2x"></i><span>Mapa</span></div></a>
        <a href="#"><div class="eventos"><div class="barra"></div><i class="fa-regular fa-calendar fa-2x"></i><span>Eventos</span></div></a>
        <a href="#"><div class="categorias"><div class="barra"></div><i class="fa-solid fa-utensils fa-2x"></i><span>Categorias</span></div></a>
        <a href="#"><div class="perfil"><div class="barra"></div><i class="fa-regular fa-user fa-2x"></i><span>Perfil</span></div></a>
    </nav>
    <!--Fim da Nav-->
</body>
</html>